nav {
  &.active {
    .colorer {
      // display: none;
      background-color: white;
      animation: animationnav linear 0.2s;
    }

    * {
      color: black !important;
    }
  }
}

@keyframes animationnav {
  from {
    display: block;
    background-color: black;
  }

  to {
    background-color: rgba(255, 255, 255, 0);
    height: 100vh;
  }
}
