/* .news{
    width: auto fit-content;
    height: auto fit-content;
    max-width: 100% relative;
    position: relative;
    align-items: center;
    opacity: 1;
    margin-left: 40%;
    margin-right: auto;
    margin-bottom: 100px;
}

.title{
    width: 1000px fixed;
    height: 61px fixed;
    font: inter;
    font-weight: bold;
    color: #001122;
    font-size: 250px;
    letter-spacing: -2.1px;
    line-height: 1.2em;
    position: relative;
}
.input{
    position: relative;
    width: 635px fixed;
    height: auto fit-content;
    opacity: 1px;
    z-index: 1;
    font-size: 16px;
    padding: 15px;
    border-radius: 8px;
    gap: 15px;
    background-color: #EBEBEB;
    
} */