@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: 'Inter';
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 0 0 1px inset blue;

}