
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  
  /*this line is just for element checking*/
  /* box-shadow: 0 0 0 1px inset blue; */
}

*::-webkit-scrollbar {
  background: #000;
  display: none;

}

.opt-container {
  @apply flex justify-between gap-2;
}
.opt-container input {
  @apply !mr-0 flex-1  max-w-12 min-h-12 text-center text-2xl font-extrabold text-orange-500 bg-orange-50 border border-transparent hover:border-orange-200 appearance-none rounded outline-none focus:bg-white focus:border-orange-400 focus:ring-2 focus:ring-orange-100;
  /* @layer  ; */
}
